@model IEnumerable<AtendimentoProntoSocorro.Models.Paciente>
@{
    ViewData["Title"] = "Busca";
}
<div class="container">
    <h1>Busca</h1>
    @DateTime.Now
    <form>
        <p>
            Procurarpor Nome: <input id="SearchString" type="text" />
            <input id="botao" type="button" value="Buscar" />

        </p>
    </form>
  
    @* Carrega a PartialView na div sem recarregar a página toda *@
    <div id="ajax">
    </div>

    @if (TempData["AlertMessage"] != null)
    {
        <div id="success-alert" class="alert alert-danger" role="alert">@TempData["AlertMessage"]</div>
    }
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#botao").click(function () {
                debugger;
                var nome = $("#SearchString").val();
                $.ajax({
                    data: { "SearchString": nome },
                    url: "Busca",
                    type: "Get",
                    success: function (response) {
                        $("#ajax").html(response)
                    }
                });
            });
        });
    </script>
}